[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
python_version = "3.13"

[packages]
moto = "*"
pytest = "*"
sphinx = "*"
twine = "*"
pytest-cov = "*"
smart-open = "*"
packaging = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
s3path = {editable = true, path = "."}
