[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
s3path = "*"
moto = "*"
pytest = "*"
sphinx = "*"
tox = "*"
tox-travis = "*"
twine = "*"
smart-open = "*"

[dev-packages]
s3path = {editable = true,path = "."}
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.8.3"
