[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moto = "*"
pytest = "*"
sphinx = "*"
tox = "*"
tox-travis = "*"
twine = "*"
pytest-cov = "*"
s3path = {editable = true,path = "."}

[dev-packages]
ipython = "*"
ipdb = "*"
